

<section id="0" class="bienvenida1">
    <div class="container">
      <h1>Bienvenido a mi Portafolio</h1>
      <nav class="nav-bar">
        <button mat-flat-button color="accent" (click)="navigateToHojaDeVida()">IR A HOJA DE VIDA</button>

    </nav>    
    </div>
  </section>

    <section id="1" class="nombre">
      <div class="container">
        <h2>Nombre:</h2>
        <ul>
            <li>Jose Rodrigo</li>
        <h2>Apellido:</h2>
            <li>Monzon Gonzalez</li>
        </ul>
      </div>
    </section>

    <section id="2" class="habilidades">
      <div class="container">
        <h2>Habilididades Tecnicas y tecnologias:</h2>
        <ul>
            <li>lenguajes de programacion: C#,C++,HTML, CSS, Java </li>
            <li>Base de Datos: MySQL, SQL, Postgress</li>
            <li>Herramienteas de desarollo: Visual Studio Code, NetBeans, Notepad++</li>
        </ul>
      </div>
    </section>

    <section id="3" class="sistemas">
        <div class="container">
          <h2>Sistemas Operativos:</h2>
          <p>Windows, MacOS</p>
        </div>
      </section>
    
      <section id="5" class="proyectos">
        <div class="container">
          <h2>Proyectos que haya trabajado:</h2>
          <p>Estuve en un proyecto de Java con Base de Datos el cual estuve aportanto de mis conocimientos en MySQL</p>
        </div>
      </section>

      <section id="6" class="Repositorios">
        <div class="container">
          <h2>Repositorios de Github:</h2>
          <a href="https://github.com/rodrigomonzon98">HAZ CLICK AQUI PARA VER EL REPOSITORIO</a>
        </div>
      </section>

      <section id="7" class="habilidades">
        <div class="container">
          <h2>Habilididades Blandas:</h2>
          <p>Comunicación, Trabajo en equipo, Liderazgo, Resolución de problemas, Adaptabilidad, Resolución de conflictos</p>
        </div>
      </section>

      <section id="8" class="idioma">
        <div class="container">
          <h2>Idioma:</h2>
          <p>Español</p>
        </div>
      </section>

      <section id="9" class="objetivos">
        <div class="container">
          <h2>Objetivos en los que está trabajando:</h2>
          <p>Mejorar constantemente mis habilidades de programación y desarrollo de software mediante el aprendizaje continuo, la práctica regular y la participación en proyectos desafiantes, este objetivo abarca una serie de actividades y prácticas que me ayudarán a crecer y mejorar como desarrollador a lo largo del tiempo.</p>
        </div>
      </section>
      
      <section id="10" class="Aficiones">
        <div class="container">
          <h2>Aficiones:</h2>
          <p>Me gusta jugar Futbol, me gusta hacer ejercicio, me gusta escuchar musica</p>
        </div>
      </section>

      <section id="11" class="tema">
        <div class="container">
          <h2>Tema Dark/Light:</h2>
          <p>prefiero el tema Dark</p>
        </div>
      </section>

      <section id="12" class="Intereses">
        <div class="container">
          <h2>Intereses:</h2>
          <p>Tecnología y Programación</p>
        </div>
      </section>

      <section id="13" class="Fotografia">
        <div class="container">
          <h2>Fotografia:</h2>
         <img src="/users/app/component/assets/Fotografia.jpeg" >
        </div>
      </section>

      <section id="14" class="CV">
        <div class="container">
          <h2>Link a CV:</h2>
          <a href="https://drive.google.com/file/d/1Qm_b3bmbviW2vTI2RVp_Qv35QGHkOt26/view?usp=share_link">VER CV</a>
        </div>
      </section>

      <section id="15" class="Experiencia">
        <div class="container">
          <h2>Experiencia:</h2>
          <p>Desde la escolaridad media hasta la fecha he programe en HTML, CSS y Base de datos, el cual esto me da una experencia en este campo de la programacion </p>
        </div>
      </section>


      <section id="16" class="laboralmente">
        <div class="container">
          <h2>Si es una persona laboralmente activa:</h2>
          <p>Si actualmente me encuentro laborando para la empresa Cerveceria Centroamericana</p>
        </div>
      </section>

      <section id="4" class="contacto">
        <div class="container">
          <h2>Contacto:</h2>
          <ul>
              <li>Correo: rodrigomonzon2898&#64;gmail.com</li>
              <li>Numero Telefonico: 45367079</li>
              <li>Direccion: Zona 8 de mixco Ciudad de San Cristobal</li>
          </ul>
        </div>
      </section>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Mi Página de Angular.</p>
    </div>
  </footer>
