<section id="0" class="bienvenida">
    <div class="container">
      <h1>Bienvenido a mi Hoja de Vida</h1>
      <nav class="nav-bar">
        <button mat-flat-button color="primary" (click)="navigateToPortafolio()">IR A PORTAFOLIO</button>
        
      </nav>    
    </div>
  </section>

<section id="1" class="informacion">
    <div class="container">
      <h2>Informacion personal:</h2>
      <ul>
          <li>Jose Rodrigo Monzon Gonzalez </li>
          <li>rodrigomonzon2898&#64;gmail.com</li>
          <li>45367079</li>
          <li>Direccion: Zona 8 de mixco Ciudad de San Cristobal</li>
      </ul>
    </div>
  </section>

  <section id="2" class="objetivo">
    <div class="container">
      <h2>Objetivo profesional:</h2>
      <p>Uno de mis objetivos que hasta la fecha estoy cumpliendo es que estoy aprendiendo mas lenguajes de programacion lo cual esto ayuda a ampliar mas de los conocimientos</p>
    </div>
  </section>

  <section id="3" class="exp">
    <div class="container">
      <h2>Experiencia laboral:</h2>
    <ul>
        <li>Cerveceria Centroamericana / Digitador de Bodega / 2016-2023 </li>
        <li>Cerveceria Centroamericana / Coordinador de bodega / 2023-actualmente</li>
    </ul>
    </div>
  </section>

  <section id="4" class="habilidades">
    <div class="container">
      <h2>Habilidades:</h2>
      <p>Aparte de la programacion, una de las habilidades que tengo es que aprendo muy facilmente a utilizar los programas como usuarios como me pa ha pasado en el trabajo</p>
    </div>
  </section>


  <section id="5" class="certificaciones">
    <div class="container">
      <h2>Certificaciones y cursos:</h2>
      <p>Microsft Excel nivel intermedio</p>
    </div>
  </section>

  <section id="6" class="academica">
    <div class="container">
      <h2>Formacion academica:</h2>
      <p>Colegio IMB-PC 2009-2016</p>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Mi Página de Angular.</p>
    </div>
  </footer>





  